// index.scss

@charset "UTF-8";
@import "./lib/basic.scss";

#container { width: 960px; height: 100% ; margin: 0 auto; background-color: #333;
        header { width: 940px; height: 68px; padding:20px 10px; background-color: $black; 
                        position: fixed; z-index: 500;
            a { width: 100%; height: 100%; display: block; }
            >h1 { width: 235px; height: 68px; background-color: #fff; float: left;
                    &:hover{}
            }// h1
            #gnb {width: 656px; height: 13px; float: right;
                >ul {width: 100%; height: 100%; float:left;  
                   > li {height: 100%; margin-right: 40px; float: left;
                        &:nth-of-type(1){width: 92px; margin-right: 440px;  float:left; 
                            background-color: #faa; }
                        &:nth-of-type(2){width: 36px; background-color: #ffa;}
                        &:nth-of-type(3){width: 47px; margin-right:0; background-color: #aff; }
                                &:hover{}
                }// li
            }// ul
        }// #gnb
           #nav {width: 656px; height: 13px; float:right;
                >ul{width: 100%; height: 100%; float:left;
                    >li {height: 100%; float:left;
                            margin-top: 34px; margin-right: 36px; 
                        &:nth-of-type(1){width:86px; background-color: #faf;}
                        &:nth-of-type(2){width:112px; background-color: #afa;}
                        &:nth-of-type(3){width: 140px; background-color: #f70;}
                        &:nth-of-type(4){width: 37px; background-color: #0f7;}
                        &:nth-of-type(5){width: 137px; margin-right: 0; background-color: #07f;}
                            &:hover{}
                    }//li
                }// ul
            }// #nav
        }// header
 /* ________________________________ //header _______________________________  */
        .main { height: 916px; background-image: url("#");}
        .about { width:914px; height: 564px; padding: 58px 46px 160px 0; 
                        background-color: $white; 
            >h2{width: 183px; height: 29px; float: left; background-color: $main; 
                    margin-right: 20px; }
            >h3{width: 553px; height: 160px; 
                margin-top: 148px; float:left;
                background-color: $main;}
            >p{width: 870px; height: 228px; color:$black; 
                margin-left: 44px; margin-top: 86px; float: left;
                font-family: nanumGothic sans-serif; 
                font-size: 0.8rem; font-weight: normal;}
    }// .about
        .article { height: auto; 
        .bg_img { height: 344px; }    
        .bgBanner_01 { background-color: $main; }
        .na_news { width: 940px; height: 723px; background-color: $white; padding: 51px 10px 62px;
            h2 {@include h2_style;
                margin-bottom: 17px; 
               }
            h3 {width: 100%; height: 23px;float:left;
                font-size:1.125rem;
                >a{width: 126px; height: 23px;}
            }//h3
            p {width: 100%; height: 70px; float:left;
                font-size: 3.5626rem;}
            a {width: 644px; height: 248px; float:left;
                &:hover{}  
                    dt {width: 345px; height: 248px; float: left;
                        margin-right: 25px;
                        background-color: $main;}
                    dd {width: 274px; height: 248px; float: left; color:$black;
                    &:nth-of-type(1){width: 274px; height: 82px; float: left;
                        border-bottom: 1px solid $main;
                        font-size:1.8125rem;font-weight: bold;
                        text-indent: 3px;}    
                    &:nth-of-type(2){width: 251px; height: 14px; float: left;
                        font-size: 0.6825rem;
                        margin-top: 22px; margin-bottom: 38px;}    
                    &:nth-of-type(3){ width: 268px; height: 64px; float: left;
                        font-size: 0.875rem; font-weight:inherit;}    
                }// dd
            }// a
                li {height: 237px; float:right; margin-top: 48px; margin-right: 18px;
                    >a{width:100%; height: 100%;}
                &:nth-of-type(1){width:263px ; height: 249px; float: left;
                                 margin:0 0 0 33px;
                                background-color: #faf;}
                &:nth-of-type(2){width: 326px ; float: left;
                                background-color: #0af;}
                &:nth-of-type(3){width: 326px ; float: left;
                                background-color: #f0a;}
                &:nth-of-type(4){width: 251px ; float: left;
                                margin-right: 0;
                                background-color: #afa;}
                }// li
         }// .naNews
/* ________________________________ .naNews ________________________________ */            
        .bg_banner_02 { background-color: $main; }
        .na_video { height: 736px; background-color: $black; padding: 52px 0;
            h2 {@include h2_style; color:$white; margin-bottom: 39px;}
            ul {width: 960px; height: 640px; margin: 0;
                .main_vd_box{ width: 100%; height: 381px; margin-bottom: 61px; float: left;
                    iframe {width: 668px; height: 100%;
                        float: left; padding-left: 10px;
                        overflow-y: hidden;}
                    .vd_info_box{width: 216px; height: 313px; float:left;
                        padding: 24px 36px 20px 10px;
                        >h3 {width: 215px; height: 132px; padding-right: 36px;
                            color: $main; font-size: 1.5rem; font-weight: bold; }
                        >p {width: 215px; height: 205px; padding-right: 36px;
                            color: $white; font-size: 0.875rem; 
                        }// p
                    }// .vdBox
            }// .mainVdBox
                    li{width: 354px; height: 198px; float: left;
                    &:nth-of-type(2){width: 303px; background-color: #aaf;}
                    &:nth-of-type(3){background-color: #faa;}
                    &:nth-of-type(4){width: 303px; background-color: #fff;}
                    }// li
            }//ul
        }// .naVideo
/* ______________________________ // .naVideo __________________________________ */
        .bg_banner_03 { background-color: $main; }
        .na_forum { width: 950px; height: 690px; background-color: $white; padding: 52px 10px 150px 0;
            h2 {width: 960px; height: 65px; color: $black;
                margin-bottom: 39px;
                font-size: 4.25rem; font-weight:bold; text-align: center;}
            p {font-size: 1.125rem; font-weight: bold; text-align: center; margin-bottom: 13px;
                &:nth-of-type(1){color: $black; font-size: 1.75rem; font-weight: bold; text-align: center;
                margin-bottom: 20px;}
            }
            
            .forum_box_01 {width: 960px; height: 38px;
                    background-color: $main; margin-bottom: 40px;
                a {width: 335px; height: 19px; color:$black; font-size: 1rem; font-weight: bold; 
                    display: inline-block; float: left; padding: 10px 45px 9px 100px;
                    &:nth-of-type(1){text-align: right;}
                    &:nth-of-type(2){padding: 10px 100px 9px 45px; }
                    &:hover{color:$white; background-color: $black;  text-decoration: none; }
                }// a
            } // .foBox_01
            .forum_box_02 {
                ul {
                li {  
                >img{width: 372px; height: 374px; background-color: #faa; float:left;
                            margin-right: 60px;
                            box-shadow: 10px 10px $sub2;}    
                >h3 {width: 500px; height: auto; font-size: 2rem; font-weight: bold; float: left; 
                        margin-bottom: 72px; padding-top: 28px; }
                >p {width: 500px; height: auto; font-size: 1rem;  
                        font-weight: normal; float: left; text-align: left;
                        margin-bottom: 70px;}
                button {width: 216px; height: 67px; float: left; color: $black; 
                                font-size: 1rem; font-weight: bold;
                                margin-right: 38px; cursor: pointer;
                                background-color: $main; }
                    }// li
                }// ul
            }// .foBox_02
    }// .naForum
            
/* _____________________________ //naForum _________________________________  */
            
        .bg_banner_04 { background-color: $main; }
        .na_fun {width: 100%; height: 844px; padding-top: 52px; padding-bottom: 36px; background-color: $white; 
            h2 {@include h2_style; margin-bottom: 39px; }
            .f_title{width: 100%; height: 46px; padding-top:12px; margin-bottom: 20px; 
                background-color: $main; 
                font-size: 1.75rem; font-weight: bold; text-align: center; }
            p {font-size: 0.875rem; font-weight: normal; text-align: center; 
                margin-bottom: 38px; }
            #coverImg {width: 776px; height: 376px; padding:36px 92px 18px;
                ul { float: left;
                    >.cover_01 {width: 230px; height: 366px; float: left; margin-right: 42px; background-color:$main; }
                    >.cover_02 {width: 230px; height: 366px; float: left; margin-right: 42px; background-color:$main;}
                    >.cover_03 {width: 230px; height: 366px; float: left; margin-right: 0; background-color:$main;}
                }// ul
            }// #coverImg
            #coverPercent {width: 960px; height: 37px; margin-top: 18px; padding: 0 92px;
                ul { float: left;
                li {width: 230px; height: 100%; margin-right: 42px; float:left; background-color: $black;
                    &:last-child{margin-right: 0;}
                    }
            }// ul
        }// #coverPercent
    }// .naFun 
            
/* ______________________________________ //naFun ______________________________________ */            
            
        .bg_banner_05 { background-color: $black; }
        .na_preissu { height: 840px; background-color: $white; padding-top: 52px;
            h2 {@include h2_style; margin-bottom: 89px; }
                input[type="search"]{width: 513px; height: 50px; float: left;
                    margin-left: 186px;}
                button{width: 73px; height: 50px; background-color: $main; 
                    cursor: pointer; float: left;
                    color:$black; font-weight: normal;}
            
            .cover_list {width: 912px; height: 308px; 
                padding-left:24px; padding-right:24px; 
                    >li {width: 191px; height: 100%; color:$black; font-size:0.875rem; font-weight: bold; 
                        text-align:center; float:left; 
                        margin-top: 95px; margin-right: 48px; margin-bottom: 91px;
                        &:nth-child(4){margin-right: 0;}
                        >dl{width: 100%; height: 100%;
                            >dt{width: 100%; height: 16px; margin-top: 14px;}
                            >dd{width: 100%; height: 276px; background-color: $main;
                                >a{width: 191px; height: 276px;}
                                >img{width: 100%; height: 100%;}
                            }// dd
                        }//dl
                }//li
            }// .cover_list
            .more_btn{width: 260px; height: 50px; float: left; margin-left:calc(50% - 130px);}
        }// .napreissu
/* ______________________________________ // .napreissu _______________________________________ */            
            
        .na_subcribe { height: 540px; background-color: $main; padding-top: 90px; 
                    position: relative;
            h2 {width: calc(100% - 50%); height: 132px; background-color: $white; 
                padding: 16px 25% 16px 25%;
                margin-bottom: 40px;
                img {width: 464px;height: 138px; background-color: $main;}
            }
            p {color:$black; font-size:1.25rem; font-weight:bold; text-align: center;
            }// p
            button {width: 484px; height: 133px;
                color:$black; font-size:2.25rem; font-weight: bold; text-align: center;
                margin-top: 38px;
                border:8px solid $black; box-sizing: border-box; 
                background-color:rgba($white, 0.2); cursor:pointer;
                position: absolute;
                left:calc(50% - 242px);
                &:hover{width: 484px; height: 133px;
                    background-color: $black;
                    color:$white; font-size:2.25rem; font-weight: bold; text-align: center; }
            }// button
            }// .na_subcribe
        } // .article
        .foot {height: 310px; background-color: $sub1; }
    } // #container
